@layer components {
    .header {
        @apply bg-black text-white py-4;
    }

    .header .container {
        @apply flex flex-wrap items-center justify-between gap-2;
    }

    .header-nav {
        @apply hidden lg:flex flex-wrap items-center gap-4 ml-auto;
    }

    .header-nav-toggle {
        @apply flex items-center justify-center lg:hidden;

        svg:last-child {
            @apply hidden; 
        }
        &.active {
            svg:last-child {
                @apply block;
            }
            svg:first-child {
                @apply hidden;
            }
        }
    }

    .drawer {
        @apply fixed top-0 left-0 bg-black text-white max-w-[300px]  p-4 border-r-2 border-white/20 pb-4 -translate-x-[100%] transition;

        &.show {
            @apply w-full h-full translate-x-0;
        }
    }

    .drawer-header {
        @apply flex items-center justify-between gap-2 border-b-2 border-white/20 pb-4;
    }

    .drawer-menu {
        @apply flex flex-col gap-4 mt-6;
    }

  

    .footer {
        @apply bg-black text-white;
    }

    .footer-btm {
        @apply text-center py-10;
    }
    
    .footer-top {
        @apply pt-10;
    }
    
    .footer-top .container {
        @apply grid gap-10 grid-cols-1 lg:grid-cols-[0.5fr_2fr_1fr];
    }

    .footer-nav {
        @apply mt-2 grid gap-y-1 gap-x-4 sm:flex lg:grid;
        a {
            @apply underline uppercase hover:text-main;
        }
    }

    .logo {
        @apply font-bold text-2xl;
    }

}