---
import Layout from "../../layouts/Layout.astro";
import { loadTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "fr" } },
    { params: { lang: "ru" } },
  ];
}

const { lang } = Astro.params;
const t = await loadTranslations(lang);
---

<Layout lang={lang} title={t.welcome}>
  <h1>{t.welcome}</h1>
</Layout>
