---
import LanguagePicker from "./LanguagePicker.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
  </head>
  <body>
    <header>
      <nav>
        <LanguagePicker currentLang="en" />
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
