---
import "../styles/global.css";
import SEO from "./SEO.astro";
import Header from "@/layouts/TheHeader.astro";
import Footer from "@/layouts/TheFooter.astro";
import SVG from "@/layouts/SVG.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { title = "", description = "" } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title={title} description={description} />
  </head>
  <body>
    <div class="page">
      <Header />
      <main class="page-content">
        <slot />
      </main>
    </div>
    <Footer />
    <SVG />
  </body>
</html>
